@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.02s ease-in;
}

:root {
    --background: #ffffff;
    --foreground: #343434;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background-color: black;
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
