@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.02s ease-in;
}

:root {
    --background: #0c0b0b;
    --foreground: #f0ecec;
}

[data-theme="light"] {
    --background: #ffffff;
    --foreground: #1a1a1a;
}

[data-theme="dark"] {
    --background: #0c0b0b;
    --foreground: #f0ecec;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
